ProjectEuler/obj/project.assets.json
ProjectEuler/obj/project.nuget.cache
ProjectEuler/obj/ProjectEuler.csproj.nuget.dgspec.json
ProjectEuler/obj/ProjectEuler.csproj.nuget.g.props
ProjectEuler/obj/ProjectEuler.csproj.nuget.g.targets
ProjectEuler/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ProjectEuler/obj/Debug/net6.0/ProjectEuler.AssemblyInfo.cs
ProjectEuler/obj/Debug/net6.0/ProjectEuler.AssemblyInfoInputs.cache
ProjectEuler/obj/Debug/net6.0/ProjectEuler.assets.cache
ProjectEuler/obj/Debug/net6.0/ProjectEuler.csproj.AssemblyReference.cache
ProjectEuler/obj/Debug/net6.0/ProjectEuler.GeneratedMSBuildEditorConfig.editorconfig
ProjectEuler/obj/Debug/net6.0/ProjectEuler.GlobalUsings.g.cs
