################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEuler/Solutions/Solutions/obj
/ProjectEuler/Solutions/.vs/Solutions/FileContentIndex/d45871a1-c5a7-4199-9a35-d091897abcdc.vsidx
/ProjectEuler/Solutions/.vs/Solutions/FileContentIndex/read.lock
/ProjectEuler/Solutions/.vs/ProjectEvaluation/solutions.metadata.v5.1
/ProjectEuler/Solutions/.vs/ProjectEvaluation
